<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mustache</title>

    <style>
        h1{
            color: rgb(3, 38, 38);
        }
    </style>
</head>
<body>
    {{! Acessando os atributos da variável, nos tratamos a exibição no js e trazemos ao template
        Uma flag trás a possibilidade de exibição
    }}
    <h1>Olá {{ user.name }}, sua idade = {{ user.age }} </h1>

    
    {{# user.showOld}}
        <p>
            Como vai a vida?
        </p>
    {{/ user.showOld}}

    {{# product }}
        <ul>
            <li>
                {{title}} - R$ {{ price }}
            </li>
        </ul>
    {{/ product }}
    
    {{! # é um if e o ^ é um else }}
    <ul>
        {{# listasimples }}
            <li>
                {{ . }}
            </li>
        {{/ listasimples }}
        {{^ listasimples }}
            <p>Não há frase hoje</p>
        {{/ listasimples }}

    </ul>
    

</body>
</html>
